.imgSwiper {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.controlContainer {
  position: absolute;
  z-index: 5;
  top: calc(50% - 15px);
  height: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.controlButton {
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 30px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .controlContainer {
    display: block;
    position: relative;
    height: auto;
    text-align: right;
  }

  .controlButton {
    color: #756157;
    font-size: 1.5rem;
    border: 0;
    width: auto;
  }
}