/* components/services/ServicesHero.module.css */
.hero {
    background-size: cover;
    background-position: center;
    padding: 40px 0;
  }
  .content {
    max-width: 600px;
    margin: 0 auto;
    padding: 16px 2rem;
    /* box-shadow: 0 8px 32px rgba(0,0,0,0.07); */
  }
  .cta {
    display: inline-block;
    background: transparent;
    color: #8B7669;
    border: 2px solid #8B7669;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-family: "Assistant, serif";
    text-decoration: none;
  }
  @media (max-width: 600px) {
    /* .content { padding: 18px 8px; } */
    .hero { padding: 20px 0; }
  }

@media (min-width: 1080px) {
  .content { padding: 0; }
  .hero { padding: 0; }
}
  